<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -- %msg%n</pattern>
		</encoder>
	</appender>
	
	<!-- ALL LOGS AT DEBUG LEVEL -->
	<root level="DEBUG">
		<appender-ref ref="CONSOLE" />
	</root>
	
	<!-- Reduce noise from verbose frameworks -->
	<logger name="org.springframework" level="INFO" />
	<logger name="org.apache.http" level="INFO" />
	
	<!-- Your application at DEBUG -->
	<logger name="org.csanchez.adk.agents.k8sagent" level="DEBUG" />
	
	<!-- ADK framework at DEBUG -->
	<logger name="com.google.adk" level="DEBUG" />
	
</configuration>

