apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argo-rollouts

resources:
  - rbac.yaml
  - deployment.yaml
  - service.yaml
  # Uncomment after creating secret from template
  - secret.yaml


